#Machine learning

In [1]:
#importando a blibioteca pandas, e lendo o arquivo que tem os conjuntos de dados
#os dados são de caracteristicas de um um determinado vinho, e se ele é branco ou vermelho.
#o objetivo final é tentar prever qual a cor do vinho a parti de suas caracteristicas usando machine leraning,
import pandas as pd
arquivo = pd.read_csv('C:\\Users\\thelo\\Analise de Dados\\Projetos\\DADOS\\wine_dataset.csv')

In [2]:
#ler as 5 primeiras linhas do conjunto de dados, e suas colunas.
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [3]:
#Muda o valor de red para 0 nas linhas, na coluna style // pra usar a sklearn os rotulos precisam ser em numeros
# nesse caso como so tem dois tipos de vinho, decidi colocar 0 e 1
arquivo['style'] = arquivo['style'].replace('red',0)

In [4]:
##Muda o valor de white para 1 nas linhas, na coluna style
arquivo['style'] = arquivo['style'].replace('white',1)

In [5]:
#separa as variaveis
#y = coluna style, o rotulo, vermelho ou branco
y = arquivo['style']
# x = todas as colunas menos a style, as caracteristicas, ph, qualidade etc...
x = arquivo.drop('style',axis = 1)

In [8]:
from sklearn.model_selection import train_test_split
#criando o conjunto de dados de treino e test:
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y, test_size = 0.3)

In [9]:
from sklearn.ensemble import ExtraTreesClassifier
#criando modelos
modelo = ExtraTreesClassifier()
modelo.fit(x_treino,y_treino)

#imPRIMir resultados
resultado = modelo.score(x_teste,y_teste)
print("acuracia", resultado)

acuracia 0.997948717948718

In [10]:
#visualizando os dados a serem testados
y_teste[300:303]

3718    1
1576    0
2646    1
Name: style, dtype: int64

In [11]:
#visualizando os dados a serem testados
x_teste[300:303]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
3718,8.0,0.16,0.36,1.5,0.033,14.0,122.0,0.99410,3.20,0.39,10.3,4
1576,8.0,0.30,0.63,1.6,0.081,16.0,29.0,0.99588,3.30,0.78,10.8,6
2646,7.0,0.31,0.52,1.7,0.029,5.0,61.0,0.99180,3.07,0.43,10.4,5

In [12]:
#Prevendo o resultado do rotulo, aparti das caracteristicas
previsao = modelo.predict(x_teste[300:303])

In [13]:
#printando a previsão
previsao

array([1, 0, 1], dtype=int64)